:root {
  --font-family: 'DM Sans', sans-serif;
  --font-family-secondary: 'Open Sans', sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --color-n-50: #e5e5e5;
  --color-n-100: #cccccc;
  --color-n-200: #808080;
  --color-n-300: #262626;
  --color-n-900: #121212;
  --color-n-75: #c4c4c4;
  --color-n-50: #e5e5e5;
  --color-n-25: #f6f6f6;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #cf2323;
  --color-yellow: #cf2323;
  --color-green: #25cf23;
}
